@use 'globals';

@mixin flex($justify: center) {
    display: flex;
    flex-direction: row;
    justify-content: $justify;
    align-items: center;
}

.flex {
    @include flex();
}

.container {
    margin: 10px;
    padding: 10px;
}

.app-main {
    @extend .container;
    border: 3px solid white;
    max-width: 414px;
    margin-left: auto;
    margin-right: auto;
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.form-control {
    width: 100%;
    height: 30px;

    &:not(:last-child) {
        margin-bottom: 10px;
    }
}

input:not([type='file']) {
    padding-left: 10px;
}

.loading {
    width: 100%;
    height: 100%;
}

.panel-container {
    margin-top: 20px;
    @include flex(space-between);
    flex-wrap: wrap;
}

.panel {
    @include flex();
    width: 45%;
    height: 220px;
    margin-bottom: 20px;
    border: 1px solid white;

    img {
        z-index: -1;
        width: 100%;
        height: 100%;
    }

    &.is-mine {
        border-color: yellow;
    }

    &.is-theirs {
        border-color: magenta;
    }

    &.my-selection {
        box-shadow: inset 0px 0px 15px 5px yellow;
    }

    &.their-selection {
        box-shadow: inset 0px 0px 15px 5px magenta;
    }

    &.both-selection {
        box-shadow: inset 0px 0px 15px 5px yellow, 0px 0px 15px 5px magenta;
        // background: radial-gradient(blue, purple);
    }

    &:hover {
        cursor: pointer;
    }
}